<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>986054416324-928vlm0gdb0e9upvtb4tamtli5p89n6o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.986054416324-928vlm0gdb0e9upvtb4tamtli5p89n6o</string>
	<key>API_KEY</key>
	<string>AIzaSyATkG7nR7OcMC4TFf2XvLQFy56eQEQQIIo</string>
	<key>GCM_SENDER_ID</key>
	<string>986054416324</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>carloshernandezcascajares.EgibideApp.ProyextoValizas</string>
	<key>PROJECT_ID</key>
	<string>elescondite-148</string>
	<key>STORAGE_BUCKET</key>
	<string>elescondite-148.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:986054416324:ios:d29f3df65a4e7c9b</string>
	<key>DATABASE_URL</key>
	<string>https://elescondite-148.firebaseio.com</string>
</dict>
</plist>